<div *ngIf="isLoading" class="custom-card">
  <div>Loading...</div>
</div>

<div *ngIf="!isLoading" class="custom-card">
  <div
    class="custom-card"
    *ngIf="!(areEventsAvailable | async); else eventList"
  >
    <img
      src="../../../assets/images/emptyStatePlaceholder.png"
      class="empty-state-image mode-sensitive-image"
    />
    <div class="empty-state-text">No events here yet!</div>
  </div>
</div>

<ng-template #eventList>
  <div class="events-list-container list-background-color">
    <div class="search-container">
      <input
        type="text"
        class="search-input custom-search-input"
        placeholder="Search Events"
        [(ngModel)]="searchTerm"
      />
      <span class="search-icon"><mat-icon>search</mat-icon></span>
    </div>

    <div class="event-card-wrapper" *ngFor="let event of filteredEvents()">
      <app-all-event-card
        [event]="event"
        [roles]="event.roles"
        (click)="navigateToEventDetailsPage(event)"
      ></app-all-event-card>
    </div>
  </div>
  <hr>
</ng-template>
