.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }

  .loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
  }