<div class="qr-code-container">
    <h1>QR Code</h1>
    <div *ngIf="qrCodeImage">
      <img [src]="qrCodeImage" alt="QR Code" />
      <div class="download-container">
        <button (click)="downloadImage()" class="download-button">
          <i class="fas fa-download"></i> Download QR Code
        </button>
      </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  <div *ngIf="isLoading" class="loading-spinner-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
